<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/">quizandtell</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <% if(!user) { %>
          <div class='underscore'>
            <a class="nav-item nav-link active" href="/">View Quizzes</a></li>
            <i class="gg-border-style-solid"></i>
          </div>
        <% } else { %>
          <div class='underscore'>
            <a class="nav-item nav-link active" href="/">View Quizzes</a></li>
            <i class="gg-border-style-solid"></i>
          </div>
          <div class='underscore'>
            <a class="nav-item nav-link active" href="/quiz/create">Create Quiz</a></li>
            <i class="gg-border-style-solid"></i>
          </div>
          <div class='underscore'>
            <a class="nav-item nav-link active" href="/user">My Page</a></li>
            <i class="gg-border-style-solid"></i>
          </div>
        <% } %>
    </div>
    <div class="navbar-nav ml-auto">
      <% if(!user) { %>
        <ul class="nav">
          <li class="nav-item">
            <form action="/login" method="POST">
              <button class="btn btn-light">Login (hardcoded)</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/signup" method="GET">
              <button class="btn btn-light">Sign up</button>
            </form>
          </li>
        </ul>
      <% } else { %>
        <ul class="nav">
          <li class="nav-item" id ="username">Signed in as: <%= user.name %></li>
          <form action="/logout" method="POST">
            <li class="nav-item">
              <button class="btn btn-light">Logout</button>
            </li>
          </form>
        </ul>
      <% } %>btn btn-light
    </div>
  </div>
</nav>
