<header>
  <nav>
    <span>Quiz App</span>
    <div>
      <% if(!user) { %>
        <ul>
          <form action="/login" method="POST">
            <li>
              <button>Login (POST /login)</button>
            </li>
          </form>
          <li>Sign up</li>
        </ul>
      <% } else { %>
        <ul>
          <li>Signed in as: <%= user.name %></li>
          <form action="/logout" method="POST">
            <li>
              <button>Logout (POST /logout)</button>
            </li>
          </form>
        </ul>
      <% } %>
      <div>
        <ul>
        <% if(!user) { %>
          <li><a href="/">View Quizzes</a></li>
        <% } else { %>
          <li><a href="/">View Quizzes</a></li>
          <li><a href="/quiz/create">Create a Quiz</a></li>
          <li><a href="/user">My Quizzes</a></li>
        <% } %>
        </ul>
      </div>
  </nav>
</header>