<header>
  <nav>
    <span>Quiz App</span>
    <div>
      <ul>
        <li>View Quizzes</li>
        <li>Create a Quiz</li>
        <li>My Quizzes</li>
        <li id="login">Login (POST /login)</li>
        <li>Sign up</li>
        <li>Signed in as: </li>
      </ul>
  </nav>
</header>