<header>
  <nav>
    <span>Quiz App</span>
    <div>
      <span>Signed in as: hardcoded@email.com</span>
      <ul>
        <li>View Quizzes</li>
        <li>Create a Quiz</li>
        <li>My Quizzes</li>
      </ul>
  </nav>
</header>