<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Quiz!</title>

    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS Icon stylesheet -->
    <link href='https://css.gg/css' rel='stylesheet'>

    <!-- External stylesheet -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_quiz.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Local JS scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/createTriviaQuiz.js"></script>
    <script type="text/javascript" src="/scripts/createPersonalityQuiz.js"></script>

</head>

<header>
  <%- include('./partials/header'); %>
</header>

<body>

<!-- Trivia Quiz Template -->
<form method='POST' action='/quiz/create/trivia' id='newTriviaForm'>
  <div class='newQuizContainer'>
    <article class="card">
      <img class='quizPhoto' src='/assets/quiz-placeholder.png'>
      <div class='cardbody newHeading'>
        <label>Trivia Quiz Title:</label>
        <input type='text' name='title' required='required' autocomplete='off'>
        <label>Cover Photo URL:</label>
        <input type='url' class='thumbnail' name='thumbnail'>
        <label>Description:</label>
        <input type='text' name='quizDescription' placeholder='Optional' autocomplete='off'>
        <footer>
          <div class='categoryDropdown'>
            <label>Category:</label>
            <input type='hidden' id='tCategoryInput' name='category'>
            <select id='triviaCategory'>
              <% for (let category of categories) { %>
                <option class='category' required='required'><%= category %></option>
              <% } %>
            </select>
          </div>
          <div class='switch'>
            <label class='btn listed'>
              <input type="radio" name='listed' autocomplete='off' required='required' value='true'>Public
            </label>
            <label class='btn listed'>
              <input type="radio" name='listed' value='false'>Private
            </label>
          </div>
      </footer>
      </div>
    </article>

      <div class='newQuestion'>
        <div class='question'>
          <label>Question 1:</label>
          <input type='text' name='question1' required='required' autocomplete='off'>
          <button type="button" class="deleteQuestion btn btn-outline-danger" id='deleteQuestion1'>X</button>
        </div>
        <h3>Answers:</h3>
        <div class='answers' data-toggle="buttons">
          <div class='singleLine'>
            <label>A)</label>
            <input type='text' name='a1' required='required' autocomplete='off'>
            <label class='check btn btn-outline-success'>
              <input type='radio' class='correct' name='correct1' autocomplete='off' required='required' value='1'><i class="gg-check"></i>
            </label>
          </div>
          <div class='singleLine'>
            <label>B)</label>
            <input type='text' name='b1' required='required' autocomplete='off'>
            <label class='check btn btn-outline-success'>
              <input type='radio' class='correct' name='correct1' value='2'><i class="gg-check"></i>
            </label>
          </div>
          <div class='singleLine'>
            <label>C)</label>
            <input type='text' name='c1' required='required' autocomplete='off'>
            <label class='check btn btn-outline-success'>
              <input type='radio' class='correct' name='correct1' value='3'><i class="gg-check"></i>
            </label>
          </div>
          <div class='singleLine'>
            <label>D)</label>
            <input type='text' name='d1' required='required' autocomplete='off'>
            <label class='check btn btn-outline-success'>
              <input type='radio' class='correct' name='correct1' value='4'><i class="gg-check"></i>
            </label>
          </div>
        </div>
      </div>
  </div>
  <footer>
    <input type='hidden' id='count' name='count' value='1'>
    <input type='hidden' name='type' value='trivia'>
    <button class='footerBtn btn btn-primary' id='addNewQuestion' type='button' >Add Another Question</button>
    <button class='footerBtn btn btn-primary' id='reviewQuiz' type='button'>Review Quiz</button>
    <button class='footerBtn btn btn-success' id='createQuizButton' type='submit'>Create Quiz</button>
  </footer>
</form>

<!-- Personality Quiz Template -->
<form method='POST' action='/quiz/create/personality' id='newPersonalityForm'>
  <div class='newQuizContainer'>

    <article class="card">
      <img class='quizPhoto' src='/assets/quiz-placeholder.png'>
      <div class='cardbody newHeading'>
        <label>Personality Quiz Title:</label>
        <input type='text' name='title' required='required' autocomplete='off'>
        <label>Cover Photo URL:</label>
        <input type='url' class='thumbnail' name='thumbnail'>
        <label>Description:</label>
        <input type='text' name='quizDescription' placeholder='Optional' autocomplete='off'>
        <footer>
          <div class="dropdown">
            <label>Category:</label>
            <input type='hidden' id='pCategoryInput' name='category'>
            <select id='personalityCategory'>
              <% for (let category of categories) { %>
                <option class='category' required='required'><%= category %></option>
              <% } %>
            </select>
          </div>
          <div class='switch'>
            <label class='btn listed'>
              <input type="radio" name='listed' autocomplete='off' required='required' value='true'>Public
            </label>
            <label class='btn listed'>
              <input type="radio" name='listed' value='false'>Private
            </label>
          </div>
      </footer>
      </div>
    </article>

      <div class='outcomeHeader'>
        <h2>Let's start with the possible outcomes:</h2>
      </div>
      <div class='outcomes'>
        <section>
          <div class='singleLine'>
            <label>Outcome 1:</label>
            <input type='text' id='outcome1' class='outcome' name='outcome1' required='required' autocomplete='off'>
          </div>
          <div class='singleLine'>
            <label>Description:</label>
            <input type='text' name='description1' autocomplete='off'>
          </div>
          <div class='singleLine'>
            <label>Photo URL:</label>
            <input type='url' id='photo1' name='photo1' class='photoURL1'>
          </div>
        </section>
        <div class='outcomePhoto' >
          <img src='/assets/quiz-placeholder.png'>
        </div>
      </div>
    </div>


  </div>
  <footer>
    <input type='hidden' id='outcomeCount' name='outcomeCount' value='1'>
    <input type='hidden' id='questionCount' name='questionCount' value='1'>
    <input type='hidden' name='type' value='personality'>

    <button class='footerBtn btn btn-primary' id='addPersonalityQuestion' type='button' >Add Another Question</button>
    <button class='footerBtn btn btn-primary'  id='addOutcome' type='button'>Add Another Outcome</button>
    <button class='footerBtn btn btn-primary' id='reviewPersonalityQuiz' type='button'>Review Quiz</button>
    <button class='footerBtn btn btn-primary'  id='submitOutcomes' type='button'>Submit Outcomes</button>
    <button class='footerBtn btn btn-success' id='createPersonalityQuiz' type='submit'>Create Quiz</button>
  </footer>
</form>
<br>

    <!-- Bootstrap JS scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
