<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Icon stylesheets -->
  <link href='https://css.gg/css' rel='stylesheet'>


  <!-- External stylesheet -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/options.css" type="text/css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Local JS scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/createTriviaQuiz.js"></script>
  <script type="text/javascript" src="/scripts/createPersonalityQuiz.js"></script>

</head>
<body>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <h1>Select Your Quiz Type</h1>

  <main>
    <a class='quizType btn' href='/quiz/create/trivia' id='selectTrivia'>


      <h3>Trivia</h3>
    </a>

    <a class='quizType btn' href='/quiz/create/personality' id='selectPersonality'>


      <h3>Personality</h3>
    </a>

  </main>

</body>
</html>
