<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Quizzes</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <body>
    <h1>My Quizzes</h1>
    <% for (const quiz of quizzes) { %>
      <a href="/quiz/<%= quiz.url %>">
        <article class="quiz">
          <header>
            <%= quiz.title %>
          </header>
          <body>
            <% if(!quiz.photo) quiz.photo = "../assets/quiz-placeholder.png" %>
            <img src="<%= quiz.photo %>">
          </body>
        </article>
      </a>
    <% } %>
  </body>
</html>
