$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;

input {
  border-style: hidden;
  border-bottom: 3px solid #000433;
  outline: none;
}

.quizType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: auto;
  padding: 2em;
  border: 3px solid black;
}
.quizType button {
  padding: 1em;
  margin: 1em;
}

.newQuizContainer {
  margin: 2em;
}

.card {
  margin: auto;
  width: 35vw;
}

.quizPhoto {
  object-fit: cover;
}

.newHeading {
  display: flex;
  flex-direction: column;
  padding:0.5em;
}
.newHeading footer {
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.newQuestion {
  width: 80vw;
  padding: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  background: lightblue;
}
.newQuestion div {
  display: flex;
  justify-content: space-between;
}

.newPersonalityQuestion {
  @extend .newQuestion;
}
.newPersonalityQuestion input {
  width: 100%;
  background: lightblue;
}

.outcomes {
  @extend .newQuestion;
}
.outcomes input {
  width: 100%;
  background: lightblue;
}

.question input {
  width: 100%;
}

.answers {
  flex-direction: column;
}

.singleLine {
  display: flex;
  align-items: stretch;
}
.singleLine input {
  width: 100%;
}
.singleLine input[type="radio"] {
  -webkit-appearance: none;
}

#newTriviaForm, #newPersonalityForm {
  display: none;
}

#createQuizButton, #createPersonalityQuiz, #addPersonalityQuestion, #reviewPersonalityQuiz, .deleteQuestion {
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: space-around;
}
