$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;
$shadow: 10px 10px 5px rgb(108, 113, 121);

input {
  font-family: $main-font;
  font-size: 1em;
  border-style: hidden;
  border-bottom: 3px solid #000433;
  outline: none;
}

h3,
label,
body > button {
  font-family: $secondary-font;
}

.footerBtn {
  font-size: 1.5em;
}

.newQuizContainer {
  margin: 2em;
}

.card {
  margin: auto;
  width: 40vw;
  border: 3px solid black;
  box-shadow: $shadow;
}
.card label {
  font-size: 1.5em;
  margin-bottom: 0;
}

.quizPhoto {
  height: 25em;
  object-fit: cover;
}

.newHeading {
  display: flex;
  flex-direction: column;
  padding:0.5em;
}
.newHeading footer {
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.newQuestion {
  width: 70vw;
  padding: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  box-shadow: $shadow;
  background: lightblue;
}
.newQuestion div {
  display: flex;
  justify-content: space-between;
}
.newQuestion input {
  width: 90%;
  background: lightblue;
}

.correct {
  border-style: hidden;
}

.categoryDropdown {
  position: relative;
  margin-top: auto;
}

.outcomeHeader {
  font-family: $secondary-font;
  text-align: center;
  margin-top: 2em;
}

.outcomes {
  @extend .newQuestion;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.outcomes label {
  font-size: 1.5em;
  width: 5em;
}
.outcomes input {
  margin-right: 2em;
}

section {
  flex-direction: column;
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.outcomePhoto img {
  margin: auto;
  max-height: 20em;
  max-width: 20em;
  object-fit: cover;
  border: 1px solid black;
}

.switch input[type="radio"] {
  -webkit-appearance: none;
}

.listed {
  color: white;
  background-color: lightblue;
}
.listed:hover {
  background-color: blue;
}

.answers {
  flex-direction: column;
}

.check {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.deleteQuestion {
  margin: auto;
  height: 2.3em;
  width: 3em;
}

.question {
  padding-bottom: 1em;
}
.question label {
  width: 12vw;
  font-size: 1.8em;
}
.question input {
  width: 80%;
  margin: auto;
  margin-right: 5vw;
  margin-left: 0.5em;
}

.selectedOutcome {
  width: min-content;
  margin-left: 1em;
}

.categorySelect {
  width: min-content;
}

.answerP {
  width: 80%;
}

.singleLine {
  align-items: stretch;
  padding-top: 0.5em;
  padding-right: 1em;
}
.singleLine label {
  font-size: 1.5em;
  margin-top: auto;
}
.singleLine input {
  margin-left: 1em;
  width: 90%;
}
.singleLine input[type="radio"] {
  -webkit-appearance: none;
}

#newTriviaForm, #newPersonalityForm, #createPersonalityQuiz, #addPersonalityQuestion, #reviewPersonalityQuiz, #createQuizButton, .newPersonalityQuestion .hide1, .hide2 {
  display: none;
}

.deleteQuestion {
  visibility: hidden;
}

footer {
  display: flex;
  justify-content: space-evenly;
}
