.newQuizContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: flex;
  margin: 5em;
  padding: 1em;
}

.newHeading {
  margin: 1em;
  border: 3px solid black;
}

.newQuestion {
  margin: 1em;
  border: 3px solid black;
}

#createQuizButton {
  visibility: hidden;
}
