$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;

html {
  font-family: $main-font;
  font-size: 16px;
  color: #000;

  nav {
    min-height: 5rem;
    line-height: 1.5rem;

    .navbar-brand {
      font-family: $secondary-font;
      font-size: 32px;
    }

    .underscore {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0.5em;
    }
    .underscore a {
      color: black;
      padding-top: 0.75em;
      padding-bottom: 0;
    }
    .underscore i {
      color: #007bff;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    .navbar-collapse .navbar-nav > .underscore a:hover + i {
      color: white;
    }

    #username {
      align-self: center;
      margin-right: 0.5rem;
      color: #FFF;
    }

    ul {
      button {
        margin: 0 0.5rem;
      }
    }
  }

  body {
    margin-top: 4rem;
    padding: 20px;
  }
}
