// See: https://sass-lang.com/

$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;

html {
  background-color: $background-color;
  font-family: $main-font;
  font-size: 16px;
  color: #000;

  nav {
    min-height: 4rem;
    line-height: 1.5rem;

    .navbar-brand {
      font-family: $secondary-font;
      font-size: 32px;
    }

    .navbar-nav a:hover {
      // hover effect
    }

    #username {
      align-self: center;
      margin-right: 0.5rem;
      color: #FFF;
    }

    ul {
      button {
        margin: 0 0.5rem;
      }
    }
  }

  body {
    margin-top: 4rem;
    padding: 20px;
  }
}
