$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;
$primary-color: #007bff;

main {

  h2 {
    font-family: $secondary-font;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .quiz-filter,
  .quiz-sort {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    span {
      align-self: center;
    }

    .btn {
      margin: 5px;
      padding: 0.25rem 0.5rem;
      text-transform: capitalize;
      font-size: 14px;
    }

    // override bootstrap hover effect
    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-outline-primary:target,
    .btn-outline-primary:active:focus {
      background-color: #FFF;
      color: $primary-color;
    }

    // override bootstrap hover effect
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:target,
    .btn-primary:active:focus {
      background-color: $primary-color;
      color: #FFF;
    }

  }
}