$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;
$primary-color: #007bff;

main {

  h2 {
    font-family: $secondary-font;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    span {
      align-self: center;
    }

    .btn {
      margin: 5px;
<<<<<<< HEAD
      text-transform: capitalize;
=======
>>>>>>> da9c39303374bc75fb535b820787e368586b08f7
    }

    // override bootstrap hover effect
    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-outline-primary:target,
    .btn-outline-primary:active:focus {
      background-color: #FFF;
      color: $primary-color;
    }

    // override bootstrap hover effect
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:target,
    .btn-primary:active:focus {
      background-color: $primary-color;
      color: #FFF;
    }

    // .btn:active,
    // .btn:focus,
    // .btn:target,
    // .btn:active:focus {
    //   color: red;
    //   background-color: yellow;
    // }
  }
}