$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$shadow: 10px 10px 5px rgb(172, 172, 172);

html {
  background-color: white;
}

body {
  margin-top: 10vh;
}

main {
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-family: $secondary-font;
  font-size: 3em;
  text-align: center;
}

.quizType {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  padding: 2em;
  border: 3px solid black;
  font-family: Passion One, cursive;
  box-shadow: 10px 10px 5px #acacac;
}
.quizIcon {
  margin: auto;
  height: 10em;
  width: 10em;
}
