$secondary-font: Passion One, cursive;
$shadow: 10px 10px 5px rgb(172, 172, 172);

html, body {
  background-color: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.fa {
  color: grey;
}

.fa-star.checked {
  color: orange;
}

.fa-heart.checked {
  color: purple;
}

h2 {
  font-family: $secondary-font;
  font-size: 40px;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

#result {
  border: 3px solid black;
  margin: 1em;
  padding: 0.5em;
  background: lightblue;
  box-shadow: $shadow;
}

.social {
  margin: 0.5em;
  cursor: pointer;
}

#social {
  display: flex;
}

.photo {
  max-width: 100%;
  display: block;
}

#photo {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: auto;
}
