#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.fa {
  color: grey;
}

.fa-star.checked {
  color: orange;
}

.fa-heart.checked {
  color: purple;
}

#result {
  border: 3px solid black;
  margin: 1em;
  padding: 0.5em;
}

#social {
  display: flex;
}

// #social div {
//   border: 3px solid black;
// }

.social {
  margin: 0.5em;
}

.photo {
  max-width: 100%;
  display: block;
}

#photo {
  display: flex;
  justify-content: center;
  width: 400px;
}
