$secondary-font: Passion One, cursive;
$shadow: 10px 10px 5px rgb(172, 172, 172);
$background-color: #EEE;

html, body {
  background-color: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-family: $secondary-font;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

#description {
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.quiz-button {
  width: 50%;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
  margin: 1em;
  padding: 0.5em;
  border: 3px solid black;
  background: lightblue;
  box-shadow: $shadow;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
}

label {
  margin-left: 1em;
}

.photo {
  max-width: 100%;
  display: block;
}

#photo {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: auto;
}
