$main-font: Roboto, sans-serif;
$secondary-font: Passion One, cursive;
$font-color: #000;
$background-color: #EEE;
$primary-color: #007bff;

html, body {
  background-color: transparent;
}

body {

  h2 {
    font-family: $secondary-font;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .btn-group {
    margin: 1rem auto;
    justify-content: center;

    .btn {
      width: 25vw;
    }
  }
}
